<script id="privateSessionIdUser">
  const sessionId = "<%= sessionId %>";
  const nameUser = "<%= nameUser %>";
  const fotoUser = "<%= fotoUser %>";
  const idUser = "<%= idUser %>";
</script>

<% let selector = ""; %>
<div class="row all-panel" id="content-message" <%="selector" %>
  >
  <div class="col-md-12 mx-auto components-message">
    <!-- Modal -->
    <div
      class="modal fade"
      id="modalEditNick"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modalEditNickTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-dark text-white">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">
              Editar apodos
            </h5>
            <button
              type="button"
              class="close text-white"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body content-edit">...</div>
          <!--<div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>-->
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="modalChangeNick"
      tabindex="0"
      role="dialog"
      aria-labelledby="modalChangeNickTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-dark text-white">
          <div class="modal-header">
            <center>
              <h5 class="modal-title identEdit" id="exampleModalLongTitle">
                Edita el apodo de Jesus
              </h5>
            </center>
            <button
              type="button"
              class="close text-white"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body content-change">
            <label class="subtitle-change"
              >Lo verán todas las personas que participan en la conversación.
            </label>
            <input
              type="text"
              class="form-control bg-dark text-white inputEdit"
            />
            <input type="hidden" class="ident-edit-user" value="" />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btnCancelarApodo text-white"
              data-dismiss="modal"
            >
              Cancelar
            </button>
            <button
              type="button"
              class="btn btn-primary guardarEdit"
              data-dismiss="modal"
            >
              Guardar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card panel-message" id="panelM">    
    
      <div class="loader-page d-flex"></div>
      <img class="loader-imagen" src="/img/material-preloader.gif" />

      <div class="container-destino">
        <i class="circle Blink"></i
        ><i
          class="fas fa-chevron-left btn-prepanel"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Panel anterior"
        ></i>
        <label class="title-destino" id="destinoM">Todos</label>
        <input type="hidden" class="selectorUser" value="Todos" />
        <div
          class="iconEdit tooltipCustom bottomCustom"
          data-toggle="modal"
          data-target="#modalEditNick"
        >
          <span class="tiptextCustom">Cambiar Apodo</span>
          <i class="far fa-edit"></i>
        </div>
      </div>
      <div class="card-body card-message">
        <div class="container-message" id="Todos">
          <!-- <div id="mensaje1" class="identMessage mymessage messageTodos">
            <div class="contenidoimg">
            <img class="imguser" src="/img/avatar-login3.png">
            </div>
            <div class="mycontenidomessage">
              
            <strong class="nom-user-message">Jesus</strong>
            <p class="res-message">Hola</p>
            
            </div><div class="horamessage">
                <small class="hora">10:02</small>
            </div>
            <label id="check1"><i class="fas fa-check icon-ready"></i></label>
          </div> -->
        </div>
      </div>
      <div class="hashUser d-none">
        <div class="modal-body content-hash" style="">
          
        </div>
      </div>
      <div class="card-footer">
        <!-- <p class="font-weight-light d-none textWarningMsg"><i class="fas fa-info-circle" style="color:rgb(60,60,60)"></i> Acá no hay nadie con quien chatear</p> -->
        <div class="form-group form-message">
          <div class="focus-message">
            <!-- <textarea
              class="form-control textMessage"
              id="textMessage"
              placeholder="Escriba algo"
              maxlength="3000"
            ></textarea> -->
            <div contentEditable="true" placeholder="Escriba algo" id="textMessage" class="form-control textMessage" ondrop="return false;" onkeypress="return (this.innerText.length <= 3000)"></div><!-- <p><br></p> -->
            <!-- <input type="file" class="fileMsg" id="fileMsg"> -->
            <!-- <label for="fileMsg"><i class="far fa-file" aria-hidden="true"></i></label> -->
            <button class="btn btn-primary btnClip btnMessageIcons">
              <i class="fas fa-paperclip"></i>
            </button>
            <button class="btn btn-primary btnEmojis emoji_01 btnMessageIcons">
              <i class="fa fa-smile-o" aria-hidden="true"></i>
            </button>
            <button class="btn btn-primary btnAudio btnMessageIcons">
              <i class="fas fa-microphone"></i>
            </button>
            <button class="btn btn-primary btnStickers btnMessageIcons">
              <i class="far fa-sticky-note"></i>
            </button>
            <button class="btn btn-primary btnEnvio btnMessageIcons">
              <i class="far fa-paper-plane"></i>
            </button>
            <div class="grab_audio d-none" style="">
              <i
                class="far fa-check-circle confirmAudio"
                aria-hidden="true"
                style=""
              ></i>

              <div style="">
                <i class="circle Blink redAudioGrab"></i
                ><span id="duracionGrab" class="duracionGrab">00:00:00</span>
              </div>
              <i
                class="far fa-times-circle cancelAudio"
                aria-hidden="true"
                style=""
              ></i>
            </div>
            <br />
          </div>
        </div>
      </div>
    </div>
    <div class="spaceStickers">
      <!-- <div id="emojiWrapper" class="emojiWrapper"></div> -->
      <div class="stickersGroudPanel d-none">
        <div class="card-header card-stickers-res">
          <!-- <button class="btn btnLeftStickers">
            <i class="fas fa-chevron-left"></i>
          </button>
          <button class="btn btnRightStickers">
            <i class="fas fa-chevron-right"></i>
          </button> -->
          <div class="header-stickers head-sticker-res">
            <div class="loader-stickers-head"></div>
            <% let vecHeadersStickers = ['/img/emoji/1.gif','STK-20190510-WA0001.webp','STK-20190511-WA0000.webp','STK-20190512-WA0005.webp','STK-20190514-WA0018.webp','STK-20190515-WA0044.webp','STK-20190516-WA0000.webp','STK-20190517-WA0000.webp','STK-20190518-WA0000.webp','STK-20190519-WA0000.webp','STK-20190520-WA0002.webp','STK-20190521-WA0000.webp','STK-20190523-WA0000.webp','STK-20190524-WA0002.webp','STK-20190525-WA0000.webp','STK-20190526-WA0000.webp','STK-20190528-WA0015.webp','STK-20190529-WA0031.webp','STK-20190606-WA0000.webp','STK-20190618-WA0037.webp','STK-20190622-WA0015.webp','STK-20190624-WA0007.webp','STK-20190627-WA0000.webp','STK-20190628-WA0003.webp','STK-20190629-WA0000.webp','STK-20190630-WA0000.webp','STK-20190815-WA0000.webp','STK-20190816-WA0000.webp','STK-20190817-WA0000.webp','STK-20190818-WA0000.webp','STK-20190821-WA0001.webp','STK-20190822-WA0000.webp','STK-20190829-WA0000.webp','STK-20190830-WA0002.webp','STK-20190902-WA0003.webp','STK-20190903-WA0000.webp','STK-20190904-WA0000.webp','STK-20190909-WA0000.webp','STK-20190912-WA0000.webp','STK-20190914-WA0001.webp','STK-20190916-WA0000.webp','STK-20190919-WA0000.webp','STK-20190920-WA0016.webp','STK-20190921-WA0002.webp','STK-20190922-WA0007.webp','STK-20190923-WA0000.webp','STK-20190924-WA0000.webp','STK-20190925-WA0012.webp','STK-20190926-WA0000.webp','STK-20190927-WA0015.webp','STK-20190928-WA0000.webp','STK-20190930-WA0000.webp','STK-20191001-WA0001.webp','STK-20191002-WA0000.webp','STK-20191004-WA0002.webp','STK-20191005-WA0001.webp','STK-20191007-WA0000.webp','STK-20191008-WA0000.webp','STK-20191009-WA0002.webp','STK-20191010-WA0006.webp','STK-20191015-WA0002.webp','STK-20191019-WA0000.webp','STK-20191021-WA0001.webp','STK-20191022-WA0000.webp','STK-20191031-WA0000.webp','STK-20191101-WA0000.webp','STK-20191103-WA0002.webp','STK-20191106-WA0000.webp','STK-20191107-WA0000.webp','STK-20191108-WA0010.webp','STK-20191111-WA0000.webp','STK-20191112-WA0000.webp','STK-20191113-WA0000.webp','STK-20191114-WA0000.webp','STK-20191116-WA0011.webp','STK-20191119-WA0002.webp','STK-20191120-WA0000.webp','STK-20191126-WA0005.webp','STK-20191127-WA0001.webp','STK-20191128-WA0000.webp','STK-20191129-WA0001.webp','STK-20191130-WA0000.webp','STK-20191211-WA0000.webp','STK-20191228-WA0002.webp','STK-20191230-WA0000.webp','STK-20200101-WA0000.webp','STK-20200118-WA0000.webp','STK-20200227-WA0000.webp','STK-20200316-WA0002.webp','STK-20200321-WA0000.webp','STK-20200407-WA0000.webp','STK-20200409-WA0004.webp','STK-20200411-WA0009.webp','STK-20200412-WA0000.webp','STK-20200413-WA0002.webp','STK-20200414-WA0000.webp','STK-20200415-WA0003.webp','STK-20200416-WA0011.webp','STK-20200417-WA0000.webp','STK-20200418-WA0000.webp','STK-20200420-WA0003.webp','STK-20200421-WA0015.webp','STK-20200422-WA0002.webp','STK-20200424-WA0003.webp','STK-20200425-WA0019.webp','STK-20200426-WA0000.webp','STK-20200427-WA0005.webp','STK-20200428-WA0003.webp','STK-20200429-WA0037.webp','STK-20200430-WA0006.webp','STK-20200501-WA0004.webp','STK-20200503-WA0000.webp','STK-20200504-WA0007.webp','STK-20200505-WA0023.webp','STK-20200506-WA0002.webp','STK-20200507-WA0032.webp','STK-20200508-WA0005.webp','STK-20200509-WA0000.webp','STK-20200510-WA0000.webp','STK-20200511-WA0001.webp','STK-20200512-WA0000.webp','STK-20200513-WA0004.webp','STK-20200514-WA0000.webp','STK-20200515-WA0056.webp','STK-20200516-WA0031.webp','STK-20200518-WA0000.webp','STK-20200519-WA0000.webp','STK-20200520-WA0001.webp','STK-20200521-WA0000.webp','STK-20200522-WA0003.webp','STK-20200523-WA0004.webp','STK-20200525-WA0002.webp','STK-20200526-WA0000.webp','STK-20200527-WA0039.webp','STK-20200528-WA0003.webp','STK-20200529-WA0002.webp','STK-20200530-WA0005.webp','STK-20200531-WA0008.webp','STK-20200601-WA0000.webp','STK-20200602-WA0003.webp','STK-20200603-WA0000.webp','STK-20200604-WA0000.webp','STK-20200605-WA0002.webp','STK-20200606-WA0004.webp','STK-20200607-WA0000.webp','STK-20200608-WA0000.webp','STK-20200609-WA0033.webp','STK-20200610-WA0047.webp','STK-20200611-WA0000.webp','STK-20200612-WA0000.webp','STK-20200614-WA0008.webp','STK-20200616-WA0011.webp','STK-20200617-WA0000.webp','STK-20200618-WA0034.webp','STK-20200619-WA0032.webp','STK-20200621-WA0000.webp','STK-20200622-WA0000.webp','STK-20200623-WA0005.webp','STK-20200624-WA0035.webp','STK-20200625-WA0007.webp','STK-20200626-WA0001.webp','STK-20200627-WA0018.webp','STK-20200628-WA0000.webp','STK-20200629-WA0026.webp','STK-20200630-WA0016.webp','STK-20200701-WA0025.webp','STK-20200702-WA0002.webp','STK-20200703-WA0000.webp','STK-20200704-WA0000.webp','STK-20200705-WA0003.webp','STK-20200707-WA0000.webp','STK-20200708-WA0000.webp','STK-20200709-WA0014.webp','STK-20200712-WA0000.webp','STK-20200713-WA0000.webp','STK-20200714-WA0023.webp','STK-20200715-WA0065.webp','STK-20200716-WA0005.webp','STK-20200718-WA0007.webp','STK-20200721-WA0014.webp','STK-20200722-WA0048.webp','STK-20200723-WA0008.webp','STK-20200726-WA0008.webp','STK-20200727-WA0012.webp','STK-20200729-WA0000.webp','STK-20200730-WA0004.webp','STK-20200731-WA0000.webp','STK-20200801-WA0008.webp','STK-20200804-WA0004.webp','STK-20200805-WA0012.webp','STK-20200806-WA0000.webp','STK-20200807-WA0004.webp','STK-20200808-WA0007.webp','STK-20200809-WA0000.webp','STK-20200810-WA0000.webp','STK-20200813-WA0000.webp','STK-20200816-WA0000.webp','STK-20200818-WA0000.webp','STK-20200821-WA0000.webp','STK-20200822-WA0000.webp','STK-20200823-WA0000.webp','STK-20200826-WA0000.webp','STK-20200828-WA0000.webp','STK-20200831-WA0000.webp','STK-20200901-WA0001.webp','STK-20200902-WA0005.webp','STK-20200903-WA0000.webp','STK-20200904-WA0004.webp','STK-20200907-WA0004.webp','STK-20200909-WA0014.webp','STK-20200910-WA0008.webp','STK-20200912-WA0004.webp','STK-20200913-WA0004.webp','STK-20200914-WA0017.webp','STK-20200915-WA0000.webp','STK-20200916-WA0004.webp','STK-20200919-WA0001.webp','STK-20200921-WA0023.webp','STK-20200922-WA0003.webp','STK-20200923-WA0006.webp','STK-20200924-WA0000.webp','STK-20200928-WA0000.webp','STK-20200930-WA0001.webp','STK-20201004-WA0002.webp','STK-20201006-WA0005.webp','STK-20201009-WA0004.webp','STK-20201012-WA0001.webp','STK-20201013-WA0000.webp','STK-20201015-WA0012.webp','STK-20201017-WA0004.webp','STK-20201018-WA0000.webp','STK-20201019-WA0000.webp','STK-20201020-WA0005.webp','STK-20201021-WA0002.webp','STK-20201023-WA0000.webp','STK-20201024-WA0000.webp','STK-20201025-WA0000.webp','STK-20201027-WA0002.webp','STK-20201028-WA0000.webp','STK-20201029-WA0000.webp','STK-20201030-WA0010.webp','STK-20201031-WA0004.webp','STK-20201101-WA0003.webp','STK-20201103-WA0000.webp','STK-20201104-WA0000.webp','STK-20201105-WA0000.webp','STK-20201106-WA0000.webp','STK-20201111-WA0000.webp','STK-20201112-WA0000.webp','STK-20201115-WA0005.webp','STK-20201116-WA0000.webp','STK-20201117-WA0000.webp','STK-20201119-WA0001.webp','STK-20201121-WA0002.webp','STK-20201123-WA0005.webp','STK-20201125-WA0001.webp','STK-20201127-WA0000.webp','STK-20201202-WA0002.webp','STK-20201204-WA0004.webp','STK-20201205-WA0000.webp','STK-20201208-WA0006.webp']; %>
           
            <% for(let i=0; i<vecHeadersStickers.length; i++) {%>
            
              <% if(vecHeadersStickers[i].includes('.gif')) { %>
                <div class="wrapper_stickers ratio_big-img loading">
                  <img class="b-lazy data-sticker-gif key-sticker"
                   src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                   data-src="<%= vecHeadersStickers[i] %>"
                   alt="Sticker <%=i%>" /> 
                </div>
              <% } else { %>
                <div class="wrapper_stickers ratio_big-img loading">
                  <img class="b-lazy data-sticker-<%= 
                  vecHeadersStickers[i].split('-')[1] %> key-sticker"
                   src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                   data-src="https://cotitomaster.000webhostapp.com/WhatsAppStickers/<%= vecHeadersStickers[i] %>"
                   alt="Sticker <%=i%>" /> 
                </div>
              <% } %>
             
            <% } %>
          </div>
        </div>
        <div class="card-body body_stickers">
          <div class="content-stickers">
            <div class="loader-stickers-body"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="modalAudio"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalAudioTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Grabe su audio</h5>
        <button
          type="button"
          class="close text-white"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body content-audio">
        <div>
          <select
            name="listaDeDispositivos"
            id="listaDeDispositivos"
            class="listaDeDispositivos"
            style="width: 100%"
          ></select>
          <br />
          <p id="duracion" class="duracion"></p>
          <br />
          <button
            id="btnComenzarGrabacion"
            class="btn btn-dark bg-primary btnComenzarGrabacion"
          >
            Comenzar
          </button>
          <button
            id="btnDetenerGrabacion"
            class="btn btn-dark bg-danger btnDetenerGrabacion"
          >
            Detener
          </button>
          <button
            id="btnEnviarGrabacion"
            class="btn btn-warning bg-warning btnEnviarGrabacion"
          >
            Enviar
          </button>
        </div>
      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>-->
    </div>
  </div>
</div>

<!-- Modal Viewed -->
<div
  class="modal fade"
  id="modalViewedUser"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalViewedUserTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Visto por:</h5>
        <button
          type="button"
          class="close text-white"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body content-viewed"></div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>-->
    </div>
  </div>
</div>

<!-- FILES UPLOAD -->
<div class="files-content d-none">
  <form id="files-upload-content">
    <label class="file-upload-msg" for="file-upload-msg"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 53 53" width="53" height="53"><defs><circle id="document-SVGID_1_" cx="26.5" cy="26.5" r="25.5"></circle></defs><clipPath id="document-SVGID_2_"><use xlink:href="#document-SVGID_1_" overflow="visible"></use></clipPath><g clip-path="url(#document-SVGID_2_)"><path fill="#5157AE" d="M26.5-1.1C11.9-1.1-1.1 5.6-1.1 27.6h55.2c-.1-19-13-28.7-27.6-28.7z"></path><path fill="#5F66CD" d="M53 26.5H-1.1c0 14.6 13 27.6 27.6 27.6s27.6-13 27.6-27.6H53z"></path></g><g fill="#F5F5F5"><path id="svg-document" d="M29.09 17.09c-.38-.38-.89-.59-1.42-.59H20.5c-1.1 0-2 .9-2 2v16c0 1.1.89 2 1.99 2H32.5c1.1 0 2-.9 2-2V23.33c0-.53-.21-1.04-.59-1.41l-4.82-4.83zM27.5 22.5V18l5.5 5.5h-4.5c-.55 0-1-.45-1-1z"></path></g></svg></label>
    <input type="file" class="d-none" name="archivo" id="file-upload-msg" accept="*">
    <label class="multimedia-upload-msg" for="multimedia-upload-msg"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 53 53" width="53" height="53"><defs><circle id="image-SVGID_1_" cx="26.5" cy="26.5" r="25.5"></circle></defs><clipPath id="image-SVGID_2_"><use xlink:href="#image-SVGID_1_" overflow="visible"></use></clipPath><g clip-path="url(#image-SVGID_2_)"><path fill="#AC44CF" d="M26.5-1.1C11.9-1.1-1.1 5.6-1.1 27.6h55.2c-.1-19-13-28.7-27.6-28.7z"></path><path fill="#BF59CF" d="M53 26.5H-1.1c0 14.6 13 27.6 27.6 27.6s27.6-13 27.6-27.6H53z"></path><path fill="#AC44CF" d="M17 24.5h18v9H17z"></path></g><g fill="#F5F5F5"><path id="svg-image" d="M18.318 18.25h16.364c.863 0 1.727.827 1.811 1.696l.007.137v12.834c0 .871-.82 1.741-1.682 1.826l-.136.007H18.318a1.83 1.83 0 0 1-1.812-1.684l-.006-.149V20.083c0-.87.82-1.741 1.682-1.826l.136-.007h16.364zm5.081 8.22l-3.781 5.044c-.269.355-.052.736.39.736h12.955c.442-.011.701-.402.421-.758l-2.682-3.449a.54.54 0 0 0-.841-.011l-2.262 2.727-3.339-4.3a.54.54 0 0 0-.861.011zm8.351-5.22a1.75 1.75 0 1 0 .001 3.501 1.75 1.75 0 0 0-.001-3.501z"></path></g></svg></label>
    <input type="file" class="d-none" name="archivo2" id="multimedia-upload-msg" accept="image/*">
    <label class="video-upload-msg" for="video-upload-msg">
      <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 53 53" width="53" height="53"><defs><circle id="rooms-SVGID_1_" cx="26.5" cy="26.5" r="25.5"></circle></defs><clipPath id="rooms-SVGID_2_"><use xlink:href="#rooms-SVGID_1_" overflow="visible"></use></clipPath><g clip-path="url(#rooms-SVGID_2_)"><path fill="#396CD3" d="M26.5-1.1C11.9-1.1-1.1 5.6-1.1 27.6h55.2c-.1-19-13-28.7-27.6-28.7z"></path><path fill="#4079EC" d="M53 26.5H-1.1c0 14.6 13 27.6 27.6 27.6s27.6-13 27.6-27.6H53z"></path><path fill="#396CD3" d="M17 24.5h15v9H17z"></path></g><g fill="#F5F5F5"><path id="svg-rooms" fill-rule="evenodd" clip-rule="evenodd" d="M28.5 18a3.5 3.5 0 0 1 3.5 3.5v10a3.5 3.5 0 0 1-3.5 3.5h-10a3.5 3.5 0 0 1-3.5-3.5v-10a3.5 3.5 0 0 1 3.5-3.5h10zm-7.925 6.782a.804.804 0 0 0-1.045-.073l-.708.698-.297.33-.134.177a4.075 4.075 0 0 0 .433 5.265 4.07 4.07 0 0 0 2.886 1.198c.976 0 1.952-.349 2.73-1.05l.784-.777.077-.091.063-.102.045-.105a.797.797 0 0 0-.189-.824.806.806 0 0 0-1.045-.073l-.704.694-.123.116-.147.119-.15.105a2.5 2.5 0 0 1-3.099-.337 2.492 2.492 0 0 1-.12-3.392l.748-.756.076-.091.063-.102.046-.105a.794.794 0 0 0-.19-.824zm5.281-.637a.803.803 0 0 0-1.044-.073l-3.67 3.662-.078.091-.063.102-.045.105a.793.793 0 0 0 .754 1.056.805.805 0 0 0 .481-.16l3.671-3.662.076-.09.064-.102.045-.105a.795.795 0 0 0-.191-.824zm2.323-2.323a4.078 4.078 0 0 0-5.615-.149l-.785.777-.073.084-.062.098a.806.806 0 0 0 .14.941.803.803 0 0 0 1.043.072l.705-.693.127-.119.137-.111a2.494 2.494 0 0 1 3.257.227c.921.923.972 2.413.117 3.392l-.746.755-.072.084-.062.098a.8.8 0 0 0 .139.941.8.8 0 0 0 1.043.072l.709-.697.148-.156.145-.17a4.084 4.084 0 0 0-.295-5.446zm9.815-.188l.006.129v9.474c0 1.31-1.714 1.998-2.744 1.12l-.878-.847a2.828 2.828 0 0 1-.871-1.849l-.007-.19v-5.943c0-.765.316-1.498.879-2.039l.877-.846c.996-.848 2.631-.234 2.738.991z"></path></g></svg>
    </label>
    <input type="file" class="d-none" name="archivo3" id="video-upload-msg" accept="video/*">
    <label class="audio-upload-msg" for="audio-upload-msg"><i class="fas fa-headphones-alt"></i></label>
    <input type="file" class="d-none" name="archivo4" id="audio-upload-msg">
  </form>
</div>
<!--audio/*-->
<!-- ,video/*,audio/* -->


<!-- PANEL FILES --> 
  <!-- <div class="panel-files-content">
    <div class="card-header text-white" style="background-color: #323739; font-size: 19px;     font-weight: 500;">
      <span class="d-inline ml-1 mr-3 closeTabFiles" style="color: rgb(200,200,200);"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" style=" margin-top: -5px; cursor: pointer;"><path fill="currentColor" d="M19.1 17.2l-5.3-5.3 5.3-5.3-1.8-1.8-5.3 5.4-5.3-5.3-1.8 1.7 5.3 5.3-5.3 5.3L6.7 19l5.3-5.3 5.3 5.3 1.8-1.8z"></path></svg></span>
      <div class="d-inline">
        Vista Previa
      </div>
    </div>
    <div class="card-body text-white" style="background-color: transparent; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column;">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADMAAAA8CAYAAADL94L/AAAByElEQVR4Ae3axdJTQRAFYFyegA3u8ALseCDcicsGhxt3x+G32BXc3X3NBnfXYTqp3sZlhuqpOlXZRL46He9ReJyJxGSTEreaPfEHZiX+1uSJvelVNu+Jvjd7Yk9zI8aSUe0eDpjCIYfNSuw5v/zF5In/6mU27478tXriLJvXjdSwPq1lCDTCmxjiCNav8GZYBVMwWKagX8kWjk9vCcMhYWhEFEw1+oV0wZjdPKY6Vn9EwmBDTYPwBoXCYPLGDQTJjkHQNQRJj0FQtmgs+C8wOHIIkh2DoDu5vD5Xfkz9hsTBWDyxhjDYUDqvLRYSY1JilSQGyyxXOt4QKJPX70NDQmI27gyxHcn9bH/5RFMNAUgoDI4afOAMHBiCdiDNj5woGAhgsCEYudSI1lBCRwoPL957slAoDDYEoPXb/ZVs3FE/y9072fDxsx4BMPVfGOpl1VY/y5++4EWM1Fm9LcCKpy8RpnchDGEIQxjCEIYwhCEMYQhDGMIQhjCEIQxhCEMYwhCGMIQhDGEIQxhYNlXiP+XHXLRDM5thQVpyzIfS2YtLceVEkRmzalsgMArPhp258bA6b/LEb8LqPM930VNdvY/fhMmCxw+Of+4BTcPInBo2AAAAAElFTkSuQmCC" alt="" class="iconImgFiles mb-2" style="border-radius: 0px;width: 26px;height: 30px;">
      <div class="title-file-upload d-block" style="font-weight: 300;font-family: inherit;color: rgb(200,200,200); font-size: 18px;">Test.php</div>
    </div>
    <div class="btnSendFile text-white text-center" style="position: absolute; right: 40px; bottom: 75px; background-color: #00af9c; border-radius: 35px; width: 60px; height: 60px; display: flex; align-items: center; justify-content: center; cursor: pointer;">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M1.101 21.757L23.8 12.028 1.101 2.3l.011 7.912 13.623 1.816-13.623 1.817-.011 7.912z"></path></svg>
    </div>
    <div class="card-footer" style="background-color: #191F23; width: 100%; height: 125px; display: flex; align-items: center; justify-content: center; flex-direction: row;">
      <div class="reserve-file" style="width: 70px; height: 74px; border: 3px solid #75787A; display: flex; align-items: center; justify-content: center;">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADMAAAA8CAYAAADL94L/AAAByElEQVR4Ae3axdJTQRAFYFyegA3u8ALseCDcicsGhxt3x+G32BXc3X3NBnfXYTqp3sZlhuqpOlXZRL46He9ReJyJxGSTEreaPfEHZiX+1uSJvelVNu+Jvjd7Yk9zI8aSUe0eDpjCIYfNSuw5v/zF5In/6mU27478tXriLJvXjdSwPq1lCDTCmxjiCNav8GZYBVMwWKagX8kWjk9vCcMhYWhEFEw1+oV0wZjdPKY6Vn9EwmBDTYPwBoXCYPLGDQTJjkHQNQRJj0FQtmgs+C8wOHIIkh2DoDu5vD5Xfkz9hsTBWDyxhjDYUDqvLRYSY1JilSQGyyxXOt4QKJPX70NDQmI27gyxHcn9bH/5RFMNAUgoDI4afOAMHBiCdiDNj5woGAhgsCEYudSI1lBCRwoPL957slAoDDYEoPXb/ZVs3FE/y9072fDxsx4BMPVfGOpl1VY/y5++4EWM1Fm9LcCKpy8RpnchDGEIQxjCEIYwhCEMYQhDGMIQhjCEIQxhCEMYwhCGMIQhDGEIQxhYNlXiP+XHXLRDM5thQVpyzIfS2YtLceVEkRmzalsgMArPhp258bA6b/LEb8LqPM930VNdvY/fhMmCxw+Of+4BTcPInBo2AAAAAElFTkSuQmCC" alt="" class="iconImgFiles" style="border-radius: 0px;width: 26px;height: 30px;">
      </div>
    </div>
  </div> -->

<!-- 261 -->
<audio class="soundChat" src="/audio/chat.mp3"></audio>
<audio class="soundExitPage" src="/audio/desconnect-user3.mp3"></audio>
<audio class="soundMentionMe" src="/audio/mention-me2.mp3"></audio>
<input type="hidden" value="<%= fotoUser %>" id="myUserFoto" />
