<script id="privateSessionIdUser">
  const sessionId = "<%= sessionId %>";
  const nameUser = "<%= nameUser %>";
  const fotoUser = "<%= fotoUser %>";
  const idUser = "<%= idUser %>";
</script>
<% let selector = ""; %>
<div class="row all-panel" id="content-message" <%="selector" %>
  >
  <div class="col-md-12 mx-auto components-message">
    <!-- Modal -->
    <div
      class="modal fade"
      id="modalEditNick"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modalEditNickTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-dark text-white">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">
              Editar apodos
            </h5>
            <button
              type="button"
              class="close text-white"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body content-edit">...</div>
          <!--<div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>-->
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="modalChangeNick"
      tabindex="0"
      role="dialog"
      aria-labelledby="modalChangeNickTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-dark text-white">
          <div class="modal-header">
            <center>
              <h5 class="modal-title identEdit" id="exampleModalLongTitle">
                Edita el apodo de Jesus
              </h5>
            </center>
            <button
              type="button"
              class="close text-white"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body content-change">
            <label class="subtitle-change"
              >Lo verán todas las personas que participan en la conversación.
            </label>
            <input
              type="text"
              class="form-control bg-dark text-white inputEdit"
            />
            <input type="hidden" class="ident-edit-user" value="" />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btnCancelarApodo text-white"
              data-dismiss="modal"
            >
              Cancelar
            </button>
            <button
              type="button"
              class="btn btn-primary guardarEdit"
              data-dismiss="modal"
            >
              Guardar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card panel-message" id="panelM">
      <div class="loader-page d-flex"></div>
      <img class="loader-imagen" src="/img/material-preloader.gif" />

      <div class="container-destino">
        <i class="circle Blink"></i
        ><i
          class="fas fa-chevron-left btn-prepanel"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Panel anterior"
        ></i>
        <label class="title-destino" id="destinoM">Todos</label>
        <input type="hidden" class="selectorUser" value="Todos" />
        <div
          class="iconEdit tooltipCustom bottomCustom"
          data-toggle="modal"
          data-target="#modalEditNick"
        >
          <span class="tiptextCustom">Cambiar Apodo</span>
          <i class="far fa-edit"></i>
        </div>
      </div>
      <div class="card-body card-message">
        <div class="container-message" id="Todos">
          <!-- <div id="mensaje1" class="identMessage mymessage messageTodos">
            <div class="contenidoimg">
            <img class="imguser" src="/img/avatar-login3.png">
            </div>
            <div class="mycontenidomessage">
              
            <strong class="nom-user-message">Jesus</strong>
            <p class="res-message">Hola</p>
            
            </div><div class="horamessage">
                <small class="hora">10:02</small>
            </div>
            <label id="check1"><i class="fas fa-check icon-ready"></i></label>
          </div> -->
        </div>
      </div>
      <div class="hashUser d-none">
        <div class="modal-body content-hash" style="">
          
        </div>
      </div>
      <div class="card-footer">
        <!-- <p class="font-weight-light d-none textWarningMsg"><i class="fas fa-info-circle" style="color:rgb(60,60,60)"></i> Acá no hay nadie con quien chatear</p> -->
        <div class="form-group form-message">
          <div class="focus-message">
            <!-- <textarea
              class="form-control textMessage"
              id="textMessage"
              placeholder="Escriba algo"
              maxlength="3000"
            ></textarea> -->
            <div contentEditable="true" placeholder="Escriba algo" id="textMessage" class="form-control textMessage" ondrop="return false;" onkeypress="return (this.innerText.length <= 3000)"></div><!-- <p><br></p> -->
            <button class="btn btn-primary btnEmojis emoji_01 btnMessageIcons">
              <i class="fa fa-smile-o" aria-hidden="true"></i>
            </button>
            <button class="btn btn-primary btnAudio btnMessageIcons">
              <i class="fas fa-microphone"></i>
            </button>
            <button class="btn btn-primary btnStickers btnMessageIcons">
              <i class="far fa-sticky-note"></i>
            </button>
            <button class="btn btn-primary btnEnvio btnMessageIcons">
              <i class="far fa-paper-plane"></i>
            </button>
            <div class="grab_audio d-none" style="">
              <i
                class="far fa-check-circle confirmAudio"
                aria-hidden="true"
                style=""
              ></i>

              <div style="">
                <i class="circle Blink redAudioGrab"></i
                ><span id="duracionGrab" class="duracionGrab">00:00:00</span>
              </div>
              <i
                class="far fa-times-circle cancelAudio"
                aria-hidden="true"
                style=""
              ></i>
            </div>
            <br />
          </div>
        </div>
      </div>
    </div>
    <div class="spaceStickers">
      <!-- <div id="emojiWrapper" class="emojiWrapper"></div> -->
      <div class="stickersGroudPanel d-none">
        <div class="card-header card-stickers-res">
          <!-- <button class="btn btnLeftStickers">
            <i class="fas fa-chevron-left"></i>
          </button>
          <button class="btn btnRightStickers">
            <i class="fas fa-chevron-right"></i>
          </button> -->
          <div class="header-stickers head-sticker-res">
            <div class="loader-stickers-head"></div>
            <% let vecHeadersStickers = ['/img/emoji/1.gif','STK-20190510-WA0001.webp','STK-20190511-WA0000.webp','STK-20190512-WA0005.webp','STK-20190514-WA0018.webp','STK-20190515-WA0044.webp','STK-20190516-WA0000.webp','STK-20190517-WA0000.webp','STK-20190518-WA0000.webp','STK-20190519-WA0000.webp','STK-20190520-WA0002.webp','STK-20190521-WA0000.webp','STK-20190523-WA0000.webp','STK-20190524-WA0002.webp','STK-20190525-WA0000.webp','STK-20190526-WA0000.webp','STK-20190528-WA0015.webp','STK-20190529-WA0031.webp','STK-20190606-WA0000.webp','STK-20190618-WA0037.webp','STK-20190622-WA0015.webp','STK-20190624-WA0007.webp','STK-20190627-WA0000.webp','STK-20190628-WA0003.webp','STK-20190629-WA0000.webp','STK-20190630-WA0000.webp','STK-20190815-WA0000.webp','STK-20190816-WA0000.webp','STK-20190817-WA0000.webp','STK-20190818-WA0000.webp','STK-20190821-WA0001.webp','STK-20190822-WA0000.webp','STK-20190829-WA0000.webp','STK-20190830-WA0002.webp','STK-20190902-WA0003.webp','STK-20190903-WA0000.webp','STK-20190904-WA0000.webp','STK-20190909-WA0000.webp','STK-20190912-WA0000.webp','STK-20190914-WA0001.webp','STK-20190916-WA0000.webp','STK-20190919-WA0000.webp','STK-20190920-WA0016.webp','STK-20190921-WA0002.webp','STK-20190922-WA0007.webp','STK-20190923-WA0000.webp','STK-20190924-WA0000.webp','STK-20190925-WA0012.webp','STK-20190926-WA0000.webp','STK-20190927-WA0015.webp','STK-20190928-WA0000.webp','STK-20190930-WA0000.webp','STK-20191001-WA0001.webp','STK-20191002-WA0000.webp','STK-20191004-WA0002.webp','STK-20191005-WA0001.webp','STK-20191007-WA0000.webp','STK-20191008-WA0000.webp','STK-20191009-WA0002.webp','STK-20191010-WA0006.webp','STK-20191015-WA0002.webp','STK-20191019-WA0000.webp','STK-20191021-WA0001.webp','STK-20191022-WA0000.webp','STK-20191031-WA0000.webp','STK-20191101-WA0000.webp','STK-20191103-WA0002.webp','STK-20191106-WA0000.webp','STK-20191107-WA0000.webp','STK-20191108-WA0010.webp','STK-20191111-WA0000.webp','STK-20191112-WA0000.webp','STK-20191113-WA0000.webp','STK-20191114-WA0000.webp','STK-20191116-WA0011.webp','STK-20191119-WA0002.webp','STK-20191120-WA0000.webp','STK-20191126-WA0005.webp','STK-20191127-WA0001.webp','STK-20191128-WA0000.webp','STK-20191129-WA0001.webp','STK-20191130-WA0000.webp','STK-20191211-WA0000.webp','STK-20191228-WA0002.webp','STK-20191230-WA0000.webp','STK-20200101-WA0000.webp','STK-20200118-WA0000.webp','STK-20200227-WA0000.webp','STK-20200316-WA0002.webp','STK-20200321-WA0000.webp','STK-20200407-WA0000.webp','STK-20200409-WA0004.webp','STK-20200411-WA0009.webp','STK-20200412-WA0000.webp','STK-20200413-WA0002.webp','STK-20200414-WA0000.webp','STK-20200415-WA0003.webp','STK-20200416-WA0011.webp','STK-20200417-WA0000.webp','STK-20200418-WA0000.webp','STK-20200420-WA0003.webp','STK-20200421-WA0015.webp','STK-20200422-WA0002.webp','STK-20200424-WA0003.webp','STK-20200425-WA0019.webp','STK-20200426-WA0000.webp','STK-20200427-WA0005.webp','STK-20200428-WA0003.webp','STK-20200429-WA0037.webp','STK-20200430-WA0006.webp','STK-20200501-WA0004.webp','STK-20200503-WA0000.webp','STK-20200504-WA0007.webp','STK-20200505-WA0023.webp','STK-20200506-WA0002.webp','STK-20200507-WA0032.webp','STK-20200508-WA0005.webp','STK-20200509-WA0000.webp','STK-20200510-WA0000.webp','STK-20200511-WA0001.webp','STK-20200512-WA0000.webp','STK-20200513-WA0004.webp','STK-20200514-WA0000.webp','STK-20200515-WA0056.webp','STK-20200516-WA0031.webp','STK-20200518-WA0000.webp','STK-20200519-WA0000.webp','STK-20200520-WA0001.webp','STK-20200521-WA0000.webp','STK-20200522-WA0003.webp','STK-20200523-WA0004.webp','STK-20200525-WA0002.webp','STK-20200526-WA0000.webp','STK-20200527-WA0039.webp','STK-20200528-WA0003.webp','STK-20200529-WA0002.webp','STK-20200530-WA0005.webp','STK-20200531-WA0008.webp','STK-20200601-WA0000.webp','STK-20200602-WA0003.webp','STK-20200603-WA0000.webp','STK-20200604-WA0000.webp','STK-20200605-WA0002.webp','STK-20200606-WA0004.webp','STK-20200607-WA0000.webp','STK-20200608-WA0000.webp','STK-20200609-WA0033.webp','STK-20200610-WA0047.webp','STK-20200611-WA0000.webp','STK-20200612-WA0000.webp','STK-20200614-WA0008.webp','STK-20200616-WA0011.webp','STK-20200617-WA0000.webp','STK-20200618-WA0034.webp','STK-20200619-WA0032.webp','STK-20200621-WA0000.webp','STK-20200622-WA0000.webp','STK-20200623-WA0005.webp','STK-20200624-WA0035.webp','STK-20200625-WA0007.webp','STK-20200626-WA0001.webp','STK-20200627-WA0018.webp','STK-20200628-WA0000.webp','STK-20200629-WA0026.webp','STK-20200630-WA0016.webp','STK-20200701-WA0025.webp','STK-20200702-WA0002.webp','STK-20200703-WA0000.webp','STK-20200704-WA0000.webp','STK-20200705-WA0003.webp','STK-20200707-WA0000.webp','STK-20200708-WA0000.webp','STK-20200709-WA0014.webp','STK-20200712-WA0000.webp','STK-20200713-WA0000.webp','STK-20200714-WA0023.webp','STK-20200715-WA0065.webp','STK-20200716-WA0005.webp','STK-20200718-WA0007.webp','STK-20200721-WA0014.webp','STK-20200722-WA0048.webp','STK-20200723-WA0008.webp','STK-20200726-WA0008.webp','STK-20200727-WA0012.webp','STK-20200729-WA0000.webp','STK-20200730-WA0004.webp','STK-20200731-WA0000.webp','STK-20200801-WA0008.webp','STK-20200804-WA0004.webp','STK-20200805-WA0012.webp','STK-20200806-WA0000.webp','STK-20200807-WA0004.webp','STK-20200808-WA0007.webp','STK-20200809-WA0000.webp','STK-20200810-WA0000.webp','STK-20200813-WA0000.webp','STK-20200816-WA0000.webp','STK-20200818-WA0000.webp','STK-20200821-WA0000.webp','STK-20200822-WA0000.webp','STK-20200823-WA0000.webp','STK-20200826-WA0000.webp','STK-20200828-WA0000.webp','STK-20200831-WA0000.webp','STK-20200901-WA0001.webp','STK-20200902-WA0005.webp','STK-20200903-WA0000.webp','STK-20200904-WA0004.webp','STK-20200907-WA0004.webp','STK-20200909-WA0014.webp','STK-20200910-WA0008.webp','STK-20200912-WA0004.webp','STK-20200913-WA0004.webp','STK-20200914-WA0017.webp','STK-20200915-WA0000.webp','STK-20200916-WA0004.webp','STK-20200919-WA0001.webp','STK-20200921-WA0023.webp','STK-20200922-WA0003.webp','STK-20200923-WA0006.webp','STK-20200924-WA0000.webp','STK-20200928-WA0000.webp','STK-20200930-WA0001.webp','STK-20201004-WA0002.webp','STK-20201006-WA0005.webp','STK-20201009-WA0004.webp','STK-20201012-WA0001.webp','STK-20201013-WA0000.webp','STK-20201015-WA0012.webp','STK-20201017-WA0004.webp','STK-20201018-WA0000.webp','STK-20201019-WA0000.webp','STK-20201020-WA0005.webp','STK-20201021-WA0002.webp','STK-20201023-WA0000.webp','STK-20201024-WA0000.webp','STK-20201025-WA0000.webp','STK-20201027-WA0002.webp','STK-20201028-WA0000.webp','STK-20201029-WA0000.webp','STK-20201030-WA0010.webp','STK-20201031-WA0004.webp','STK-20201101-WA0003.webp','STK-20201103-WA0000.webp','STK-20201104-WA0000.webp','STK-20201105-WA0000.webp','STK-20201106-WA0000.webp','STK-20201111-WA0000.webp','STK-20201112-WA0000.webp','STK-20201115-WA0005.webp','STK-20201116-WA0000.webp','STK-20201117-WA0000.webp','STK-20201119-WA0001.webp','STK-20201121-WA0002.webp','STK-20201123-WA0005.webp','STK-20201125-WA0001.webp','STK-20201127-WA0000.webp','STK-20201202-WA0002.webp','STK-20201204-WA0004.webp','STK-20201205-WA0000.webp','STK-20201208-WA0006.webp']; %>
           
            <% for(let i=0; i<vecHeadersStickers.length; i++) {%>
            
              <% if(vecHeadersStickers[i].includes('.gif')) { %>
                <div class="wrapper_stickers ratio_big-img loading">
                  <img class="b-lazy data-sticker-gif key-sticker"
                   src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                   data-src="<%= vecHeadersStickers[i] %>"
                   alt="Sticker <%=i%>" /> 
                </div>
              <% } else { %>
                <div class="wrapper_stickers ratio_big-img loading">
                  <img class="b-lazy data-sticker-<%= 
                  vecHeadersStickers[i].split('-')[1] %> key-sticker"
                   src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                   data-src="https://cotitomaster.000webhostapp.com/WhatsAppStickers/<%= vecHeadersStickers[i] %>"
                   alt="Sticker <%=i%>" /> 
                </div>
              <% } %>
             
            <% } %>
          </div>
        </div>
        <div class="card-body body_stickers">
          <div class="content-stickers">
            <div class="loader-stickers-body"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="modalAudio"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalAudioTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Grabe su audio</h5>
        <button
          type="button"
          class="close text-white"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body content-audio">
        <div>
          <select
            name="listaDeDispositivos"
            id="listaDeDispositivos"
            class="listaDeDispositivos"
            style="width: 100%"
          ></select>
          <br />
          <p id="duracion" class="duracion"></p>
          <br />
          <button
            id="btnComenzarGrabacion"
            class="btn btn-dark bg-primary btnComenzarGrabacion"
          >
            Comenzar
          </button>
          <button
            id="btnDetenerGrabacion"
            class="btn btn-dark bg-danger btnDetenerGrabacion"
          >
            Detener
          </button>
          <button
            id="btnEnviarGrabacion"
            class="btn btn-warning bg-warning btnEnviarGrabacion"
          >
            Enviar
          </button>
        </div>
      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>-->
    </div>
  </div>
</div>

<!-- Modal Viewed -->
<div
  class="modal fade"
  id="modalViewedUser"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalViewedUserTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Visto por:</h5>
        <button
          type="button"
          class="close text-white"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body content-viewed"></div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>-->
    </div>
  </div>
</div>
<!-- 261 -->
<audio class="soundChat" src="/audio/chat.mp3"></audio>
<audio class="soundExitPage" src="/audio/desconnect-user3.mp3"></audio>
<audio class="soundMentionMe" src="/audio/mention-me2.mp3"></audio>
<input type="hidden" value="<%= fotoUser %>" id="myUserFoto" />
