<script>
  const sessionId = "<%= sessionId %>";
  const nameUser = "<%= nameUser %>";
  const fotoUser = "<%= fotoUser %>";
  const idUser = "<%= idUser %>";
</script>
<% let selector = ""; %>
<div class="row all-panel" id="content-message"<%= selector %>>
  <div class="col-md-12 mx-auto components-message">
    <!-- Modal -->
    <div class="modal fade" id="modalEditNick" tabindex="-1" role="dialog" aria-labelledby="modalEditNickTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-dark text-white">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Editar apodos</h5>
            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body content-edit">
            ...
          </div>
          <!--<div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>-->
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modalChangeNick" tabindex="0" role="dialog" aria-labelledby="modalChangeNickTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-dark text-white">
          <div class="modal-header">
            <center><h5 class="modal-title identEdit" id="exampleModalLongTitle">Edita el apodo de Jesus</h5></center>
            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body content-change">
            <label class="subtitle-change">Lo verán todas las personas que participan en la conversación.
            </label>
            <input type="text" class="form-control bg-dark text-white inputEdit">
            <input type="hidden" class="ident-edit-user" value="">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btnCancelarApodo text-white" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary guardarEdit" data-dismiss="modal">Guardar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card panel-message" id="panelM">
      <div class="loader-page d-flex"></div>
      <img class="loader-imagen" src="/img/material-preloader.gif">

        
        
      <div class="container-destino">
        <i class="circle Blink"></i><i class="fas fa-chevron-left btn-prepanel"></i> <label class="title-destino" id="destinoM">Todos</label>
        <input type="hidden" class="selectorUser" value="Todos">
        <div class="iconEdit" data-toggle="modal" data-target="#modalEditNick"><i class="far fa-edit"></i></div>
      </div>
      <div class="card-body card-message">
        <div class="container-message" id="Todos">
          <!-- <div id="mensaje1" class="identMessage mymessage messageTodos">
            <div class="contenidoimg">
            <img class="imguser" src="/img/avatar-login3.png">
            </div>
            <div class="mycontenidomessage">
              
            <strong class="nom-user-message">Jesus</strong>
            <p class="res-message">Hola</p>
            
            </div><div class="horamessage">
                <small class="hora">10:02</small>
            </div>
            <label id="check1"><i class="fas fa-check icon-ready"></i></label>
          </div> -->
        </div>
        
      </div>
      
      <div class="card-footer">
        <div class="form-group form-message">
          <div class="focus-message">
            
            <textarea class="form-control textMessage" id="textMessage" placeholder="Escriba algo" maxlength="3000"></textarea>
            <button class="btn btn-primary btnEmojis emoji_01"><i class="fa fa-smile-o" aria-hidden="true"></i></button>
            <button class="btn btn-primary btnAudio" data-toggle="modal" data-target="#modalAudio"><i class="fas fa-microphone"></i></button>
            <button class="btn btn-primary btnStickers"><i class="far fa-sticky-note"></i></button>
            <button class="btn btn-primary btnEnvio"><i class="far fa-paper-plane"></i></button>
            
            <br>
            
            
          </div>
        </div>
        
      </div>
      
    </div>
    <div class="spaceStickers">
      <div id="emojiWrapper" class="emojiWrapper"></div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalAudio" tabindex="-1" role="dialog" aria-labelledby="modalAudioTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Grabe su audio</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body content-audio">
        <div>
          <select name="listaDeDispositivos" id="listaDeDispositivos" class="listaDeDispositivos" style="width: 100%;"></select>
          <br>
          <p id="duracion" class="duracion"></p>
          <br>
          <button id="btnComenzarGrabacion" class="btn btn-dark bg-primary btnComenzarGrabacion">Comenzar</button>
          <button id="btnDetenerGrabacion" class="btn btn-dark bg-danger btnDetenerGrabacion">Detener</button>
          <button id="btnEnviarGrabacion" class="btn btn-warning bg-warning btnEnviarGrabacion">Enviar</button>
        </div>
      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>-->
    </div>
    
  </div>
 
</div>
<audio class="soundChat" src="/audio/chat.mp3"></audio>
<audio class="soundExitPage" src="/audio/desconnect-user3.mp3"></audio>
<input type="hidden" value="<%= fotoUser %>" id="myUserFoto">